* {
    margin: 0;
    padding: 0;
    font-family: "Prata", serif;
    width: 100%;
    color: #fff;
    line-height: 120%;
    box-sizing: border-box;
    --paddings: 163px;
    --text-normal: 24px;
    --text-large: 40px;
    --distance-between-blocks: 100px;
}

::-webkit-scrollbar {
    width: 0;
}

/** pdl: 163px **/

.header {
    position: fixed;
    background-color: #222;
    }

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 783px;
    padding-left: var(--paddings);
}

.header__logo {
    height: 58px;
}

.header__nav {
    display: flex;
    gap: 29px;
}

.header__link {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-style: italic;
    text-wrap: nowrap;
    font-size: 16px;
}

.main {
    width: 100vw;
}

.main__basic {
    padding-left: var(--paddings);
    width: calc(100% - var(--paddings));
}

.basic__content {
    padding-top: 118px;
    max-width: 417px;
    display: flex;
    flex-direction: column;
    background-color: #222;
}

.basic__wrapper {
    background-color: #222;
    width: 100vw;
    background-image: url("./public/first.JPG");
    background-size: 763px 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.basic__title {
    font-size: calc(2 * var(--text-large));
    padding-bottom: 50px;
}

.basic__lead {
    font-family: Arial;
    padding-bottom: 64px;
}

.basic__checkmark {
    display: flex;
    align-items: center;
    gap: 17px;
    padding-bottom: 40px;
}

.basic__checkmark_img {
    height: 37px;
    width: auto;
}

.basic__point {
    font-family: Arial;
    line-height: 110%;
    font-size: var(--text-normal);
}

.basic__span {
    font-family: "Prata";
    line-height: 150%;
    font-size: var(--text-large);
}

.basic__img {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    max-width: 763px;
    
}

.button {
    color: #222;
    font-family: Arial;
    font-size: var(--text-normal);
    line-height: 150%;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    transition: ease-in all 0.5s;
}

.button:hover {
    background-color: #D5C9BE;
    transform: scale(1.1);
}

a:hover {
    text-decoration: underline;
}

.basic__button {
    margin-bottom: 50px;
    width: 191px;
    height: 96px;
}

.stub {
    height: var(--distance-between-blocks);
    width: 100vw;
    background-color: #282829;
}

.main__points {
    background-color: #282829;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    background-image: url("./public/second.JPG"), url("./public/third.JPG");
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
}

.points__content {
    padding-left: 53px;
    padding-right: 53px;
    background-color: #282829;
    max-width: max-content;
}

.points__point {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 614px;
    border-bottom: 1px solid #55565A;
    padding-bottom: 40px;
    padding-top: 40px;
}

.points__point:nth-child(4) {
    border-bottom: 0;
}

.points__point_img {
    width: 58px;
    height: 47px;
}

.points__text {
    font-family: Arial;
    font-size: var(--text-normal);
    line-height: 140%;
}

.points__button {
    max-width: 614px;
    height: 78px;
}

.main__form {
    background-color: #282829;
    display: flex;
    justify-content: center;
    padding: var(--distance-between-blocks) var(--paddings) var(--distance-between-blocks) var(--paddings);
}

.form__wrapper {
    background-color: #fff;
    border: 2px solid #D6D6D6;
    border-radius: 30px;
    background-image: url("./public/registration.JPG");
    background-repeat: no-repeat;
    background-position: right;
}

.form__wrap {
    margin: 70px 0px 70px 132px;
    max-width: 781px;
}

.form__caption {
    font-size: 54px;
    line-height: 110%;
    color: #000;
    padding-bottom: 45px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.form__input {
    height: 65px;
    padding-left: 40px;
    border: 2px solid #D6D6D6;
    border-radius: 4px;
    font-family: Arial;
    font-size: var(--text-normal);
    line-height: 150%;
}

.form__checkbox_input {
    display: none;
}

.form__agreement {
    color: #000;
    font-family: Arial;
    font-size: 19px;
    line-height: 130%;
    text-wrap: nowrap;
}

.form__checkbox_img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.form__link {
    text-decoration: none;
    color: #000;
    font-family: Arial;
}

.form__submit_btn {
    color: #fff;
    background-color: #282829;
    border: none;
    border-radius: 4px;
    height: var(--distance-between-blocks);
    font-family: Arial;
    font-size: var(--text-normal);
    line-height: 150%;
    font-weight: normal;
}

.footer {
    width: 100vw;
    background-color: #222222;
}

.footer__links {
    border-bottom: 2px solid #D5C9BE;
    border-top: 2px solid #D5C9BE;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.footer__link {
    text-decoration: none;
    width: auto;
}

.footer__content {
    padding: 40px var(--paddings) 60px var(--paddings);
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    row-gap: 33px;
    align-items: center;
}

.footer__logo {
    height: 53px;
    width: auto;
}

.footer__socials {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.footer__social {
    width: 32px;
    height: 32px;
}

.footer__btn {
    height: 78px;
    max-width: 180px;
    justify-self: end;
}

.footer__privacy {
    text-align: center;
}

.footer__terms {
    text-align: end;
}

.footer__copyright, .footer__privacy, .footer__terms {
    font-family: Arial;
    font-size: calc(var(--text-large) / 2);
    font-weight: 150%;
}

.footer__privacy, .footer__terms {
    color: #D5C9BE;
}

@media screen and (max-width: 1371px) {
    .form__wrap {
        margin-left: 66px;
        max-width: 450px;
    }
    
    .form__wrapper {
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 1114px) {
    .footer__content {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr)
    }

    .footer__btn {
        justify-self: flex-start;
    }

    .footer__copyright {
        text-align: end;
    }

    .footer__privacy {
        text-align: start;
    }
    
    .footer__terms {
        text-align: end;
    }
}

@media screen and (max-width: 926px) {
    * {
        --paddings: 66px;
    }

    .main__points {
        background-image: none;
    }
}

@media screen and (max-width: 849px) {
    * {
        --text-normal: 12px;
        --text-large: 20px;
        --distance-between-blocks: 50px;
    }

    .basic__checkmark_img {
        height: 18px;
    }

    .points__point_img {
        width: 29px;
        height: 23px;
    }

    .basic__wrapper {
        background-image: none;
    }

    .basic__button {
        height: 48px;
    }

    .points__button {
        height: 39px;
    }

    .footer__btn {
        height: 39px;
    }

    .form__input {
        height: 32px;
        padding-left: 20px;
    }

    .form__caption {
        font-size: 27px;
    }

    .form__agreement {
        font-size: 15px;
    }
}

@media screen and (max-width: 784px) {
    .header__wrapper {
        flex-direction: column;
        justify-content: space-around;
        gap: 30px;
    }

    .basic__content {
        padding-top: 168px;
    }
}

@media screen and (max-width: 736px) {
    .form__wrap {
        max-width: 260px;
    }

    .footer__content {
        display: flex;
        flex-direction: column;
    }

    .footer__copyright {
        text-align: center;
    }

    .footer__privacy {
        text-align: center;
    }

    .footer__terms {
        text-align: center;
    }
}

@media screen and (max-width: 520px) {
    * {
        --paddings: 15px;
    }

    .form__wrap {
        margin: 15px;
    }
}

@media screen and (max-width: 453px) {
    .header__logo {
        height: 29px;
    }

    .footer__logo {
        height: 26px;
    }

    .header__nav {
        display: none;
    }

    .basic__content {
        padding-top: 89px;
    }

    .footer__links {
        padding-left: var(--paddings);
        flex-direction: column;
        gap: 16px;
    }

    .footer__socials {
        gap: 16px;
    }
}
